<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>

<body>
    <canvas id="stage" style="display:block;margin:100px auto;"></canvas>
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/keyboard.min.js"></script>
    <script type="text/javascript" src="/js/draw.js"></script>
</body>

</html>